@import "../lily/css/lily.scss";

body.sample {
  $sidebar-width:200px;

  .page-content {
    .sidebar {
      position:fixed;
      top:0;left:0;bottom:0;
      width:$sidebar-width;
      background-color:#1B2224;
    }

    .graph-paper {
      position:fixed;
      top:0;right:0;bottom:0;left:$sidebar-width;
      background-color:#232B2D;
      overflow:hidden;
    }
  }

  @include -below(pad) {

    .page-content {
      .sidebar{ width:0; }
      .graph-paper { left:0;}
    }
  }

}

.knowledge-net-paper {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  .bar {
    color:white;
    position: absolute;
    top:0;left:0;right:0;
    height:50px;
    // background-color:#383F41;
    z-index: 1;

    .scale {
      float: left;
      height: 40px; line-height: 40px;
      @include border-box;
      // border:solid 1px rgba(#FFB43B, 0.8);
      margin-top:10px;margin-left:10px;
      background-color:#38382D;
      width:100px;
      text-align: center;
      border-radius:3px;
      color:#FFB43B;
      font-size:24px;
      font-weight:bold;
      // font-family: $font-family-serif;
      pointer-events: none;
    }
  }
}

.knowledge-net-paper svg.knsvg {
  width:100%;
  height:100%;

  g.node {
    text.name {
      cursor:default;
      font-size:16px;
      fill:#fff;

      // @include transition(all .1s ease-in);
      @include unselectable;

      &.hide {
        opacity: 0;
        pointer-events: none;

        @include -below(phone) {
          opacity: 0.6;
          pointer-events: all;
        }
      }

      &.iroot {
        pointer-events: none;
        display: none;
      }
    }

    circle {
      fill: #232B2D;
      stroke: #65B2EF;
      stroke-width: 5px;
      cursor: pointer;

      &.iroot {
        display: none;
        pointer-events: none;
      }

      &.start-point {
        stroke: #FFB43B;
        // &:hover { fill: #FFB43B; }
      }

      &:hover {
        stroke: mix(red, #FFB43B, 50%);
        stroke-width: 7px;
      }
    }
  }

  path.link {
    fill: none;
    stroke: darken(#6F7B7E, 10%);
    stroke-width: 3px;

    &.hover {
      stroke: mix(red, #FFB43B, 50%);
      stroke-width: 5px;
    }

    &.iroot {
      display: none;
      pointer-events: none;
    }
  }
}