@import "../lily/css/lily.scss";

body.sample {
  .page-head {
    background:url(knowledge-camp-50x50.png) no-repeat 15px 0;
    background-color: #1B2224;
    height:50px;line-height:50px;
    color:white;
    font-size:18px;
    padding-left:80px;
    // font-weight:bold;
  }

  .page-content {
    position:absolute;
    top:50px;left:0;right:0;bottom:0;

    .sidebar {
      position:absolute;
      top:0;left:0;bottom:0;
      width:200px;
      background-color:#1B2224;
    }

    .graph-paper {
      position:absolute;
      top:0;right:0;bottom:0;left:200px;
      background-color:#232B2D;
      overflow:hidden;
    }

    @include -below(pad) {
      .sidebar{ width:0; }
      .graph-paper { left:0;}
    }
  }

}

svg.knsvg {
  g.node {
    text.name {
      cursor:default;
      font-size:14px;
      fill:#fff;

      @include transition(all .1s ease-in);
      @include unselectable;

      &.hide {
        opacity: 0;
        pointer-events: none;

        @include -below(phone) {
          opacity: 0.6;
          pointer-events: all;
        }
      }

      &.iroot {
        pointer-events: none;
        display: none;
      }
    }

    circle {
      fill: #232B2D;
      stroke: #65B2EF;
      stroke-width: 5px;

      &.iroot {
        display: none;
        pointer-events: none;
      }

      &.start-point {
        stroke: #FFB43B;
      }
    }
  }

  path.link {
    fill: none;
    stroke: #6F7B7E;
    stroke-width: 3px;

    &.iroot {
      display: none;
      pointer-events: none;
    }
  }
}