@import "../lily/css/lily.scss";

body.sample {
  $head-height:50px;
  $sidebar-width:200px;

  .page-head {
    position: fixed;
    top:0;right:0;left:$sidebar-width;
    height:$head-height;
    background-color:lighten(#232B2D, 5%);
  }

  .page-content {
    .sidebar {
      position:fixed;
      top:0;left:0;bottom:0;
      width:$sidebar-width;
      background-color:#1B2224;
    }

    .graph-paper {
      position:fixed;
      top:$head-height;right:0;bottom:0;left:$sidebar-width;
      background-color:#232B2D;
      overflow:hidden;
    }
  }

  @include -below(pad) {
    .page-head {left: 0;}

    .page-content {
      .sidebar{ width:0; }
      .graph-paper { left:0;}
    }
  }

}

svg.knsvg {
  width:100%;
  height:100%;

  g.node {
    text.name {
      cursor:default;
      font-size:14px;
      fill:#fff;

      @include transition(all .1s ease-in);
      @include unselectable;

      &.hide {
        opacity: 0;
        pointer-events: none;

        @include -below(phone) {
          opacity: 0.6;
          pointer-events: all;
        }
      }

      &.iroot {
        pointer-events: none;
        display: none;
      }
    }

    circle {
      fill: #232B2D;
      stroke: #65B2EF;
      stroke-width: 5px;

      &.iroot {
        display: none;
        pointer-events: none;
      }

      &.start-point {
        stroke: #FFB43B;
      }
    }
  }

  path.link {
    fill: none;
    stroke: #6F7B7E;
    stroke-width: 3px;

    &.iroot {
      display: none;
      pointer-events: none;
    }
  }
}